# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Large video files
/src/assets/*.mp4
!/src/assets/Help2D.mp4
!/src/assets/Help3D.mp4

# Build logs
build-log.txt

# Executables
node.exe
